<!DOCTYPE html>
<html>
  <head>
    <title>MyBudget API</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />
  </head>
  <body>
    <div class="ui raised very padded text container segment">
      <h2 class="ui header">Welcome to My Budget API</h2>
      <p></p>
      <p></p>
    </div>
  </body>
</html>